@charset "UTF-8";
@font-face {
    font-family: "framocons";
    src: url("framocons.eot");
    src: url("framocons.eot?#iefix") format("embedded-opentype"), url("framocons.woff") format("woff"), url("framocons.ttf") format("truetype"), url("framocons.svg#framocons") format("svg");
    font-weight: normal;
    font-style: normal;
}

.icon {
    font-family: "framocons" !important;
    font: normal normal normal 14px/1 Framocons;
    text-rendering: auto;
    font-size: 2em;
    color: #212121;
    margin: 0 auto;
    display: table;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-mini {
    font-size: 1em;
}

.icon-big {
    font-size: 3em;
}

.icon-framocons:before {
    content: "\e02f";
}

.icon-accept:before {
    content: "\e006";
}

.icon-plus-alt:before {
    content: "\e007";
}

.icon-plus-alt-2:before {
    content: "\e008";
}

.icon-circle:before {
    content: "\e009";
}

.icon-equals:before {
    content: "\e00a";
}

.icon-square:before {
    content: "\e00b";
}

.icon-equals-alt:before {
    content: "\e00c";
}

.icon-favorite:before {
    content: "\e00d";
}

.icon-food:before {
    content: "\e00e";
}

.icon-minus:before {
    content: "\e00f";
}

.icon-minus-alt:before {
    content: "\e010";
}

.icon-minus-alt-2:before {
    content: "\e011";
}

.icon-music:before {
    content: "\e012";
}

.icon-music-alt:before {
    content: "\e013";
}

.icon-plus:before {
    content: "\e014";
}

.icon-wordpress:before {
    content: "\e01b";
}

.icon-facebook:before {
    content: "\e01d";
}

.icon-rigth:before {
    content: "\e01a";
}

.icon-up:before {
    content: "\e01e";
}

.icon-hamburger:before {
    content: "\e01f";
}

.icon-menu-alt:before {
    content: "\e021";
}

.icon-menu:before {
    content: "\e023";
}

.icon-calendar:before {
    content: "\e001";
}

.icon-close:before {
    content: "\e002";
}

.icon-down:before {
    content: "\e003";
}

.icon-like:before {
    content: "\e004";
}

.icon-unlike:before {
    content: "\e005";
}

.icon-heart:before {
    content: "\e016";
}

.icon-favorite-alt:before {
    content: "\e018";
}

.icon-gplus:before {
    content: "\e026";
}

.icon-instagram:before {
    content: "\e027";
}

.icon-linkedin:before {
    content: "\e02a";
}

.icon-codepen:before {
    content: "\e024";
}

.icon-github:before {
    content: "\e025";
}

.icon-twitter:before {
    content: "\e028";
}

.icon-facebook-1:before {
    content: "\e019";
}

.icon-design:before {
    content: "\e01c";
}

.icon-code:before {
    content: "\e022";
}

.icon-web:before {
    content: "\e029";
}

.icon-medal:before {
    content: "\e02b";
}

.icon-smile:before {
    content: "\e02c";
}

.icon-normal:before {
    content: "\e02d";
}

.icon-sad:before {
    content: "\e02e";
}

.icon-left:before {
    content: "\e020";
}

.icon-download:before {
    content: "\e030";
}

.icon-home:before {
    content: "\e031";
}

.icon-tongue:before {
    content: "\e032";
}

.icon-android:before {
    content: "\e033";
}

.icon-apple:before {
    content: "\e034";
}

.icon-back:before {
    content: "\e035";
}

.icon-behance:before {
    content: "\e036";
}

.icon-dailymotion:before {
    content: "\e037";
}

.icon-dribble:before {
    content: "\e038";
}

.icon-dribble-alt:before {
    content: "\e039";
}

.icon-dropbox:before {
    content: "\e03a";
}

.icon-evernote:before {
    content: "\e03b";
}

.icon-forward:before {
    content: "\e03c";
}

.icon-foursquare:before {
    content: "\e03d";
}

.icon-gdrive:before {
    content: "\e03e";
}

.icon-google:before {
    content: "\e03f";
}

.icon-hangout:before {
    content: "\e040";
}

.icon-messenger:before {
    content: "\e041";
}

.icon-medium:before {
    content: "\e042";
}

.icon-pause:before {
    content: "\e043";
}

.icon-paypal:before {
    content: "\e044";
}

.icon-play:before {
    content: "\e045";
}

.icon-reddit:before {
    content: "\e046";
}

.icon-replay:before {
    content: "\e047";
}

.icon-skype:before {
    content: "\e048";
}

.icon-snapchat:before {
    content: "\e049";
}

.icon-vk:before {
    content: "\e04a";
}

.icon-youtube:before {
    content: "\e04b";
}

.icon-whatsapp:before {
    content: "\e04c";
}

.icon-spotify:before {
    content: "\e04d";
}

.icon-soundcloud:before {
    content: "\e04e";
}

.icon-stackoverflow:before {
    content: "\e04f";
}

.icon-stop:before {
    content: "\e050";
}

.icon-telegram:before {
    content: "\e051";
}

.icon-tumbrl:before {
    content: "\e052";
}

.icon-pinterest:before {
    content: "\e053";
}

.icon-expand:before {
    content: "\e054";
}

.icon-reduce:before {
    content: "\e055";
}

.icon-trash:before {
    content: "\e056";
}

.icon-upload:before {
    content: "\e058";
}

.icon-volume-down:before {
    content: "\e059";
}

.icon-volume-up:before {
    content: "\e05a";
}

.icon-volume-disabled:before {
    content: "\e057";
}

.icon-add-user:before {
    content: "\e05b";
}

.icon-delete-user:before {
    content: "\e05c";
}

.icon-family:before {
    content: "\e05d";
}

.icon-group:before {
    content: "\e017";
}

.icon-man:before {
    content: "\e05e";
}

.icon-workgroup:before {
    content: "\e000";
}

.icon-woman:before {
    content: "\e05f";
}

.icon-pizza:before {
  content: "\e015";
}
